<!-- serach box -->
<div class="flex justify-content-center">
  <mat-form-field>
    <input [(ngModel)]="searchVariable" placeholder="Produce name" matInput [matAutocomplete]="auto" (ngModelChange)="filterOptions($event)">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (close)="produces = initialData">
      <mat-option *ngFor="let option of produces" [value]="option.name">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!loading">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
  </ng-container>

  <!-- Brand Column -->
  <ng-container matColumnDef="brand">
    <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.brand}} </mat-cell>
  </ng-container>

  <!-- Price Column-->
  <ng-container matColumnDef="price per paund">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element['price per paund']}} </mat-cell>
  </ng-container>

  <!-- Available Column -->
  <ng-container matColumnDef="available">
    <mat-header-cell *matHeaderCellDef> Available </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.available}} </mat-cell>
  </ng-container>

  <!-- Location at store(Aisle Name) Column -->
  <ng-container matColumnDef="aisle name">
    <mat-header-cell *matHeaderCellDef> Location at store(Aisle Name) </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element['location at store']['aisle name']}} </mat-cell>
  </ng-container>

  <!-- Table Header -->
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

  <!-- Spinner -->
<div class="flex justify-content-center mt-1" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

  <!-- No data found -->
<div class="flex justify-content-center mt-1" *ngIf="dataSource.length == 0">
  <label class="mat-h1">No Matching Data Found</label>
</div>
